In [1]:
import pandas as pd
import functions as fn
import xlwings as xw

In [121]:
wb = xw.Book(r'C:\Users\SWV224\BOLLORE\XPF - Documents\SERVICES\GSX\2211B ANNAG 22007 SEAHU 17.03.2022\0111_Bokningsblad_ANNAG 22007 SEAHU 17.03.2022.xlsb')
sheet = wb.sheets('INFO')
data_table = sheet.range('A4').expand()
df = sheet.range(data_table).options(pd.DataFrame, index=False, header=True).value
df = fn.regex_no_extra_whitespace(df).copy()

In [122]:
df.head()

,BOOKING NUMBER,MLO,POL,TOL,CONTAINER,ISO TYPE,NET WEIGHT,POD STATUS,LOAD STATUS,VGM,...,MRN,TEMP,PO NUMBER,CUSTOMS STATUS,PACKAGES,GOODS DESCRIPTION,OCEAN VESSEL,VOYAGE,ETA,FINAL POD
0,16681775.0,HL,DEBRV,DENST,HLXU1352287,2270.0,17200.484,T,LA,19571.0,...,22SEE304YI4UEJ8OC0,None,903532598.0,T1,1022.0,VODKA,CALLAO EXPRESS,2212S,27.03.2022,DOCAU
1,22367096.0,HL,DEBRV,DENST,HAMU1064998,2200.0,17670.000,T,LA,19970.0,...,22SEE3EWF54PTXEN76,None,903532598.0,T1,927.0,VODKA,TSINGTAO EXPRESS,2208E,23.03.2022,AEJEA
2,22367096.0,HL,DEBRV,DENST,HLBU2745255,D20,17876.000,T,LA,20126.0,...,22SEE3GUCG3Q0H4K39,None,903532598.0,T1,1136.0,VODKA,TSINGTAO EXPRESS,2208E,23.03.2022,AEJEA
3,22367096.0,HL,DEBRV,DENST,HLXU3538440,22G1,19248.000,T,LA,21538.0,...,22SEE3HEV03VWKYA84,None,903532598.0,T1,1136.0,VODKA,TSINGTAO EXPRESS,2208E,23.03.2022,AEJEA
4,22367096.0,HL,DEBRV,DENST,TLLU2556839,22G1,16029.000,T,LA,18129.0,...,22SEE3HFET2C5MERK0,None,903532598.0,T1,860.0,VODKA,TSINGTAO EXPRESS,2208E,23.03.2022,AEJEA

In [123]:
file_path = r'C:\Users\SWV224\BOLLORE\XPF - Documents\MAINTENANCE\templates\stored-data-template-cargo-type.csv'
df_iso_type = pd.read_csv(file_path, sep=';', index_col=0, skipinitialspace=True)

new_dict = df_iso_type.to_dict()['TYPE OUTPUT']

In [124]:
df2 = df['ISO TYPE']

In [125]:
df['ISO TYPE']

0     2270.0
1     2200.0
2        D20
3       22G1
4       22G1
       ...
88      22G1
89      22G1
90      22G1
91      22G1
92      22G1
Name: ISO TYPE, Length: 93, dtype: object

In [47]:
df['ISO TYPE'].map(new_dict)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
88    NaN
89    NaN
90    NaN
91    NaN
92    NaN
Name: ISO TYPE, Length: 93, dtype: object

In [126]:
df2

0     2270.0
1     2200.0
2        D20
3       22G1
4       22G1
       ...
88      22G1
89      22G1
90      22G1
91      22G1
92      22G1
Name: ISO TYPE, Length: 93, dtype: object

In [127]:
df3 = df2.map(new_dict)

In [128]:
df4 = df2.astype(str).str.replace('.0', '', regex=False)

In [129]:
df4.replace(new_dict, regex=False)

0     22T1
1     22G1
2     22G1
3     22G1
4     22G1
      ...
88    22G1
89    22G1
90    22G1
91    22G1
92    22G1
Name: ISO TYPE, Length: 93, dtype: object

In [118]:
df4

0     2270
1     2200
2      22G1
3      22G1
4      22G1
      ...
88     22G1
89     22G1
90     22G1
91     22G1
92     22G1
Name: ISO TYPE, Length: 93, dtype: object