In [ ]:
# XlFormatCondition Type
xlCellValue = 1
xlExpression = 2
xlColorScale = 3
xlDataBar = 4
xlTop10 = 5
xlIconSet = 6
xlUniqueValues = 8
xlTextString = 9
xlBlanksCondition = 10
xlTimePeriod = 11
xlAboveAverageCondition = 12
xlNoBlanksCondition = 13
xlErrorsCondition = 16
xlNoErrorsCondition = 17

# XlFormatConditionOperator
xlBetween = 1
xlNotBetween = 2
xlEqual = 3
xlNotEqual = 4
xlGreater = 5
xlLess = 6
xlGreaterEqual = 7
xlLessEqual = 8
xlDuplicate = 1
xlUnique = 0

In [ ]:
mlo = sheet.api.Range('INFO[MLO]')
pol = sheet.api.Range('INFO[POL]')
tol = sheet.api.Range('INFO[TOL]')
container = sheet.api.Range('INFO[CONTAINER]')
iso_type = sheet.api.Range('INFO[ISO TYPE]')
load_status = sheet.api.Range('INFO[LOAD STATUS]')
imdg = sheet.api.Range('INFO[IMDG]')
unnr = sheet.api.Range('INFO[UNNR]')
temp = sheet.api.Range('INFO[TEMP]')
po_number = sheet.api.Range('INFO[PO NUMBER]')
customs_status = sheet.api.Range('INFO[CUSTOMS STATUS]')
ocean_vessel = sheet.api.Range('INFO[OCEAN VESSEL]')
final_pod = sheet.api.Range('INFO[FINAL POD]')
info_table = sheet.api.Range('INFO')
info_range = sheet.api.Range('A5:Y702')

In [ ]:
def rgb_to_hex(rgb):
    bgr = (rgb[2], rgb[1], rgb[0])
    strValue = '%02x%02x%02x' % bgr
    #print(strValue)
    iValue = int(strValue, 16)
    return iValue

In [ ]:
rgb_to_hex((255, 255, 0))

In [ ]:
info_table.FormatConditions.Delete

In [ ]:
yellow = (255, 255, 0)
reddish = (255, 50, 0)
pinkish = (255, 204, 204)
red_font = (179, 31, 31)
red = (238, 0 , 0)

#MLO
mlo.FormatConditions.Add(xlExpression, Formula1="=DATA!$A5=FALSE")
mlo.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
mlo.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#POL
pol.FormatConditions.Add(xlExpression, Formula1="=DATA!$B5=FALSE")
pol.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
pol.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#TOL
tol.FormatConditions.Add(xlExpression, Formula1="=DATA!$B5=FALSE")
tol.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
tol.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#CONTAINER
container.FormatConditions.Add(xlExpression, Formula1="=DATA!$C5=FALSE")
container.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
container.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

container_format2 = container.FormatConditions.AddUniqueValues
container_format2.DupeUnique = xlDuplicate
container.FormatConditions(1).Interior.Color=rgb_to_hex(pinkish)
container.FormatConditions(1).Font.Color=rgb_to_hex(red_font)
#container.FormatConditions(2).Interior.Color=rgb_to_hex(pinkish)
#container.FormatConditions(2).Font.Color=rgb_to_hex(red_font)

#ISO TYPE
iso_type.FormatConditions.Add(xlExpression, Formula1="=DATA!$D5=FALSE")
iso_type.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
iso_type.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#LOAD STATUS
load_status.FormatConditions.Add(xlExpression, Formula1="=DATA!$E5=FALSE")
load_status.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
load_status.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#IMDG
imdg.FormatConditions.Add(xlExpression, Formula1="=DATA!$F5=FALSE")
imdg.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
imdg.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#UNNR
unnr.FormatConditions.Add(xlExpression, Formula1="=DATA!$F5=FALSE")
unnr.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
unnr.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#TEMP
temp.FormatConditions.Add(xlExpression, Formula1="=DATA!$G5=FALSE")
temp.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
temp.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#PO NUMBER
po_number.FormatConditions.Add(xlExpression, Formula1="=DATA!$H5=FALSE")
po_number.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
po_number.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#CUSTOMS STATUS
customs_status.FormatConditions.Add(xlExpression, Formula1="=S5<>DATA!$I5")
customs_status.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
customs_status.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#OCEAN VESSEL
ocean_vessel.FormatConditions.Add(xlExpression, Formula1="=DATA!$J5=FALSE")
ocean_vessel.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
ocean_vessel.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

#FINAL POD
final_pod.FormatConditions.Add(xlExpression, Formula1="=DATA!$K5=FALSE")
final_pod.FormatConditions(1).Interior.Color=rgb_to_hex(yellow)
final_pod.FormatConditions(1).Font.Color=rgb_to_hex(reddish)

In [68]:
list_of_shipper = ['ONE', 'HL', 'MSK', 'ONE', 'VOTG', 'HSL']
list_of_booking_refs = ['1112', 23334, '12dsd2', 4567, '123erf', '123ed']
#list1 = [list_of_booking_refs[x] for x, y in enumerate(list_of_shipper) if 'HL' in y else "" if 'ONE' not in y else ""]

list2 = []

for i, shipper in enumerate(list_of_shipper):
    if 'HL' in shipper:
        list2.append("")
    if 'ONE' in shipper:
        list2.append("")
    else:
        list2.append(list_of_booking_refs[i])

#print(list2, list1)

dict1 = {'MLO':["HSL", "HL", "ONE", "MSK", "VOTG"], 'BOOK':[123, 123, 134, 567, 678]}

dict2 = {'CONTAINER': {'MSDU2319070': ['DEEGB', '22T1', 'MT', 'DG'], 'TRHU1290156': ['DEEGB', '22T1', 'MT', 'DG'], 'MEDU2743841': ['DEEGH', '22G1', 'LA', '']}}

dict3 = {'CONTAINER': ['MSDU2319070', 'TRHU1290156', 'TCKU2174506'], 'ISO TYPE': ['22G1', '22G1', '22G1'], 'TERMINAL': ['DEEGB', 'DEEGB', 'DEEGB'], 'LOAD STATUS': ['', '', '']}

dict4 = {'MSDU2319070': ['DEEGB', '22T1', 'MT', 'DG'], 'TRHU1290156': ['DEEGB', '22T1', 'MT', 'DG'], 'MEDU2743841': ['DEEGH', '22G1', 'LA', '']}

dict5 = {'CONTAINER': ['MSDU2319070', 'TRHU1290156', 'MEDU2743841', 'DFGH'], 'ISO TYPE': ['22T1', '22T1', '22G1', ''], 'TERMINAL': ['DENST', 'DECTB', 'DECTA', '']}

list2 = ['MSCU3403789', 'MSDU2319070', 'GESU1329778', 'TTNU1531165', 'TTNU3935438', 'TRHU1290156']

dict6 = {'CONTAINER': ['MSDU2319070', 'TRHU1290156', 'TCKU2174506'], 'ISO TYPE': ['22G1', '22G1', '22G1'], 'TERMINAL': ['DEEGB', 'DEEGB', 'DEEGB']}

dict7 = {'CONTAINER': ['MSDU2319070', 'TRHU1290156', 'TRHU1290156'], 'ISO TYPE': ['22T1', '22T1', '22G1'], 'TERMINAL': ['DEEGB', 'DEEGB', 'DEEGH']}

df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)
df4 = pd.DataFrame(dict4)
df5 = pd.DataFrame(dict5)
df6 = pd.DataFrame(dict6)
df7 = pd.DataFrame(dict7)

list10 = []
dict5 = df5.to_dict('list')
dict10 = {}
for str in df5.values:
    print(str)
    dict10[str[0]] = [str[1], str[2]]

print(dict10)

['MSDU2319070' '22T1' 'DENST']
['TRHU1290156' '22T1' 'DECTB']
['MEDU2743841' '22G1' 'DECTA']
['DFGH' '' '']
{'MSDU2319070': ['22T1', 'DENST'], 'TRHU1290156': ['22T1', 'DECTB'], 'MEDU2743841': ['22G1', 'DECTA'], 'DFGH': ['', '']}

In [69]:
import numpy as np

In [70]:
dict2 = {'MSDU2319070': ['DEEGB', '22T1', 'MT', 'DG'], 'TRHU1290156': ['DEEGB', '22T1', 'MT', 'DG'], 'MEDU2743841': ['DEEGH', '22G1', 'LA', '']}
list2 = ['MSCU3403789', 'MSDU2319070', 'GESU1329778', 'TTNU1531165', 'TTNU3935438', 'TRHU1290156', 'SDFGTR']

list3 = []
list4 = []
list5 = []

print(list2[1] in dict2.keys())

for i, str in enumerate(list2):
    if str in dict2.keys():
        list3.append(dict2[str][0])
        list4.append(dict2[str][1])
        list5.append(dict2[str][2])
        
    else:
        list3.append('')
        list4.append('')
        list5.append('')

print(list3, list4, list5)

True
['', 'DEEGB', '', '', '', 'DEEGB', ''] ['', '22T1', '', '', '', '22T1', ''] ['', 'MT', '', '', '', 'MT', '']

In [71]:
import xlwings as xw
import pandas as pd

with xw.App(visible=False) as app:
    wb = app.books.open(r'C:/Users/SWV224/BOLLORE/XPF - Documents/SERVICES/SFX/.3 Mar 2022/2212XA XPMLN 22011 FITOR 21.03.2022/ELL_XPMLN_22011_FITOR_220322_FINAL.xlsx')
    sheet = wb.sheets('Cargo Detail')
    last_row = sheet.range('A' + str(sheet.cells.last_cell.row)).end('up').row
    rng_cargo_detail = sheet.range('A5:BF' + str(last_row))
    df = sheet.range(rng_cargo_detail).options(pd.DataFrame, index=False, header=True).value
    df = pd.DataFrame(df, index=None).copy()
    wb.close()

print(df)

TypeError: 'str' object is not callable

In [72]:
df3

     CONTAINER ISO TYPE TERMINAL LOAD STATUS
0  MSDU2319070     22G1    DEEGB
1  TRHU1290156     22G1    DEEGB
2  TCKU2174506     22G1    DEEGB

In [73]:
df5

     CONTAINER ISO TYPE TERMINAL
0  MSDU2319070     22T1    DENST
1  TRHU1290156     22T1    DECTB
2  MEDU2743841     22G1    DECTA
3         DFGH

In [74]:
df3.loc[df3['CONTAINER'].isin(df5['CONTAINER']), 'TERMINAL'] = df5['TERMINAL']

In [75]:
df3['TERMINAL']

0    DENST
1    DECTB
2    DEEGB
Name: TERMINAL, dtype: object

In [96]:
df_1 = pd.DataFrame({
    'MAN TOD': ['DEEGH', 'DECTA', 'DECTB', 'DENST', 'DECTA', 'DECTB', 'DEEGH', 'DEEGB'],
    'MAN ISO TYPE': ['22T1', '22G1', '42G1', '45G1', '45U1', '22G1', '42R1', '45R1'],
    'MAN LOAD STATUS': ['MT', 'LA', 'LA', 'MT', 'LA', 'LA', 'MT', 'LA']},
    index=None)
df_2 = pd.DataFrame({
    'PORT': ['DEHAM', 'DEHAM', 'DEBRV', 'DEBRV', 'DEHAM'],
    'TERMINAL': ['DECTB', 'DECTA', 'DEEGB', 'DENST', 'DEEGH']},
    index=None)

In [97]:
df_2, df_1

(    PORT TERMINAL
 0  DEHAM    DECTB
 1  DEHAM    DECTA
 2  DEBRV    DEEGB
 3  DEBRV    DENST
 4  DEHAM    DEEGH,
   MAN TOD MAN ISO TYPE MAN LOAD STATUS
 0   DEEGH         22T1              MT
 1   DECTA         22G1              LA
 2   DECTB         42G1              LA
 3   DENST         45G1              MT
 4   DECTA         45U1              LA
 5   DECTB         22G1              LA
 6   DEEGH         42R1              MT
 7   DEEGB         45R1              LA)

In [171]:
d_2 = df_2.set_index('TERMINAL')['PORT'].to_dict()
def test(att: str):
    d = d_2
    return d(att)

ser_test = pd.DataFrame({'TERMINAL': ['DECTA', 'DECTB', 'DEEGH', 'DEEGB']})

#for i in ser_test.values:
 #   print(d_2[i[0]])

#ser_test.loc[:, 'TOD'] = ser_test['TERMINAL'].
ser_test['TERMINAL'].replace(d_2)

0    DEHAM
1    DEHAM
2    DEHAM
3    DEBRV
Name: TERMINAL, dtype: object

In [186]:
wb = xw.Book(r'C:\Users\SWV224\BOLLORE\XPF - Documents\MAINTENANCE\Test files\FITOR_Makro.xlsm')
sheet = wb.sheets('RESULT')
data_range = sheet.range('A5').expand()
data = sheet.range(data_range).options(pd.DataFrame, index=False, header=False).value
df = pd.DataFrame(data)

In [194]:
df = df.rename(columns= {0: '', 1: 'MATCH', 2: 'BOOKING NUMBER', 3: 'MLO', 4: 'MAN TOD', 5: 'CD TOD', 6: 'CONTAINER', 7: 'MAN ISO TYPE',
    8: 'CD ISO TYPE', 9: 'NET WEIGHT', 10: 'MAN LOAD STATUS', 11: 'CD LOAD STATUS', 12: 'GWT', 13: 'IMDG', 14: 'UNNR',
    15: 'TEMP', 16: 'OOG', 17: 'REMARK', 18: 'TARE', 19: 'MLO PO', 20: 'CUSTOMS STATUS', 21: 'PACKAGES',
    22: 'GOODS DESCRIPTION', 23: 'OCEAN VESSEL', 24: 'FINAL POD'})
df

,,MATCH,BOOKING NUMBER,MLO,MAN TOD,CD TOD,CONTAINER,MAN ISO TYPE,CD ISO TYPE,NET WEIGHT,MAN LOAD STATUS,CD LOAD STATUS,GWT
0,0.0,MATCH,11221088947.0,MSCA,DEEGB,DEEGB,MSDU2319070,22G1,22G1,22960.0,LA,LA,25.18
1,1.0,MATCH,11221088947.0,MSCA,DEEGB,DEEGB,TRHU1290156,22G1,22G1,22100.0,LA,LA,24.20
2,2.0,MATCH,11221094343.0,MSCA,DEEGB,DEEGB,TCKU2174506,22G1,22G1,25946.0,LA,LA,28.20
3,3.0,MATCH,11221094343.0,MSCA,DEEGB,DEEGB,MEDU2743841,22G1,22R1,25912.0,LA,LA,28.28
4,4.0,MATCH,11221094444.0,MSCA,DEEGB,DEEGB,TGCU2158674,22G1,22G1,23850.0,LA,LA,26.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,80.0,MATCH,HELC01321900,ONE,DECTA,DEEGB,GLDU9413346,22G1,22G1,23969.0,LA,LA,26.34
81,81.0,MATCH,HELC01114900,ONE,DETCT,DETCT,KKTU8124401,22G1,22G1,23674.0,LA,LA,25.99
82,82.0,MATCH,HELC01114900,ONE,DETCT,DETCT,NYKU3874420,22G1,22G1,24728.0,LA,LA,27.10
83,83.0,MATCH,25720390.0,HL,DEEGH,DEEGH,UACU3891431,22G1,22G1,21800.0,LA,LA,24.12
84,84.0,MATCH,11221095014.0,MSCA,DEEGH,DEEGH,FCIU5769030,22G1,22G1,24630.0,LA,LA,26.84